:root {
  --cinnabar: #e34234;
  --grullo: #aea699;
  --black-coffee: #3e363d;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #eee;
  min-height: 100vh;
  line-height: 1.5;
}
#app {
  position: relative;
  min-height: 100vh;
}
a {
  color: var(--cinnabar);
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}
ul {
  padding-left: 1em;
  list-style-type: disc;
}
img {
  max-width: 100%;
}