:root {
  --cinnabar: #e34234;
  --grullo: #aea699;
  --black-coffee: #3e363d;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #eee;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  color: var(--cinnabar);
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}
