:root {
  --cinnabar: #e34234;
  --mercury: #e5e5e5;
  --black-coffee: #3e363d;
  --background-color: var(--black-coffee);
  --text-color: var(--mercury);
  --footer-height: 3.5rem;
  --article-width: 45rem;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  line-height: 1.5;
}
#app {
  position: relative;
  min-height: 100vh;
}
a {
  color: var(--cinnabar);
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}
ul {
  padding-left: 1rem;
  list-style-type: disc;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
th {
  text-align: center;
  padding: 0.1rem 0.65rem;
  border-bottom: 4px solid var(--text-color);
}
td {
  padding: 0.1rem 0.65rem;
  border-top: 1px solid var(--text-color);
}
blockquote {
  border-left: 4px solid var(--cinnabar);
  margin-left: 0;
  margin-right: 0;
}
blockquote > p {
  margin-left: 1.5rem;
}